[submodule "[vorp]/vorp_core"]
	path = [vorp]/vorp_core
	url = https://github.com/BigSmoKe07/vorp_core.git
[submodule "[vorp]/vorp_lib"]
	path = [vorp]/vorp_lib
	url = https://github.com/VORPCORE/vorp_lib.git
[submodule "[standalone]/lockpick"]
	path = [standalone]/lockpick
	url = https://github.com/KamiliaBlow/kb_lockpicking.git
[submodule "[bcc]/bcc-corehud"]
	path = [bcc]/bcc-corehud
	url = https://github.com/BigSmoKe07/bcc-corehud.git
[submodule "[dep]/feather-menu"]
	path = [dep]/feather-menu
	url = https://github.com/FeatherFramework/feather-menu.git
[submodule "[dep]/bcc-utils"]
	path = [dep]/bcc-utils
	url = https://github.com/BryceCanyonCounty/bcc-utils.git
